{:paths ["tools" "src"]

 :deps {org.clojure/clojure  {:mvn/version "1.10.0-alpha4"}
        healthsamurai/matcho {:mvn/version "0.3.7"}}

 :aliases
 {:dev
  {:extra-paths ["test"]

   :extra-deps
   {:tools
    {:git/url "https://github.com/Zallin/tools"
     :sha "7a4a2ea932f047ff5f5682ea5c3699d127c8f27e"}}}}}
